# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# VSCode
.vscode/

# Logs
*.log

# Database
*.db
*.db-shm
*.db-wal

# Test results
TestResults/

# Packages
*.nupkg
packages/
